body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,sans;
	color: #fff;
  	background-image: url('../assets/img/images/background.jpg');
  	background-position: top center;
  	background-repeat: no-repeat;
  	background-size: 1250px auto;
  	background-color: black;

	h3, h1 {
		font-size: 20px;
		color: #FAF4FE;
		font-family: credit_riverregular;
		display: block;
		width: 100%;
		border-bottom: 1px solid #B8BABE;
		padding-bottom: 10px;
		margin-bottom: 25px;
	  	margin-top: 25px;
	  	text-transform: uppercase;
	  	letter-spacing: 1px;
	}

  	.logo {
	  	height: 400px;
	}

  	.row.mainmenu {
	  background-image: url('../assets/img/images/transp_pattern.png');
	}

  	.mainmenu {
	  	height: 50px;
	  	width: 100%;
	  	margin-bottom: 8px;
	  	text-align: justify;
		-webkit-box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.75);
		-moz-box-shadow:    0px 0px 24px 5px rgba(0, 0, 0, 0.75);
		box-shadow:         0px 0px 24px 5px rgba(0, 0, 0, 0.75);
	  	ul {
		  	margin-left: 0;
		  	padding: 0 10px;
			li {
				font-family: credit_riverregular;
				list-style-type: none;
				margin-top: 10px;
				display: inline-block;
			  	a {
					font-size: 20px;
					text-transform: uppercase;
					background: -webkit-linear-gradient(#eee, #333);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		  	:last-child {
			  	margin-right: 5px;
			}
		}
	  	span {
			display: inline-block;
			position: relative;
			width: 100%;
			height: 0;
		}
	}

  	.mainmenu * {
	  	display: inline;
	}

	.top-bar-container {
		-webkit-box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.75);
		-moz-box-shadow:    0px 0px 24px 8px rgba(0, 0, 0, 0.75);
		box-shadow:         0px 0px 24px 8px rgba(0, 0, 0, 0.75);

		background-color: black;
		.top-bar {
			background-color: black;
		}
	}
	.main-content {

	    -webkit-box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.75);
		-moz-box-shadow:    0px 0px 24px 8px rgba(0, 0, 0, 0.75);
		box-shadow:         0px 0px 24px 8px rgba(0, 0, 0, 0.75);

	  	background-image: url('../assets/img/images/transp_pattern.png');

	    font-size: 13px;

	  	a {
		  	color: #ccc;
		  	text-decoration: underline;
		}

	  	p {
		    font-size: 13px;
		}

	  	ul.pagination li.current a, ul.pagination li.current button	 {
		  	background: #6f2722;
		}

	  	.single-news {
		  	margin-bottom: 50px;

		  	p {
			    margin-bottom: 0px;
			}

		  	.news-date {
			  	font-size: 12px;
			}
		  	.news-title {
			  	a {
				  color: #C52D40;
				  font-weight: bold;
				  font-size: 22px;
				  text-decoration: none;
				}
			}
		}

		.element-block-container {
			margin-bottom: 30px;
		}
	  	.social-img {
		    margin-right: 6px;
		}

	  	.gallery-item {
		  	float:left;
		  	border: 1px solid #b8babe;
		  	margin-right: 10px;
		}

		.gallery-title {
		  font-weight: bold;
		  color: #ffffff;
		  font-size: 16px;
		  text-transform: uppercase;
		}

	  	.release-container-block {

		  	border-bottom: 1px solid #b8babe;
		  	margin-bottom: 30px;

		  	h4 {
			  	font-weight: bold;
			  	color: #fff;
			  	font-size: 14px;
			  	text-transform: uppercase;
			}

			img {
				width: 260px;
			}
		}

	  	.past-concert-container {
		  	h3 {
			  	margin-top: 60px;
			  	color: #858484;
			  	border-bottom: 1px solid #858484;
			}
		  	color: #858484;
		}
	}
  	.footer {
		-webkit-box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.75);
		-moz-box-shadow:    0px 0px 24px 8px rgba(0, 0, 0, 0.75);
		box-shadow:         0px 0px 24px 8px rgba(0, 0, 0, 0.75);

		ul {
		  text-align: center;
		  margin-top: 40px;
		}

		background: black;
	  	min-height: 190px;
	  	background-image: url('../assets/img/images/footer_bg.jpg');
	  	border-top: 1px solid #6F2722;
	  	.columns {
		  	text-align: center;
		  	margin-top: 30px;
		}
	}

  	.rights {
		text-align: center;
		font-size: 13px;
		color: #666;
	  	margin: 20px 0px;
	}

	.fb-container > div {
	     margin: -1px 0px 0px -1px;  
	}
}

/**MEDIA QUERIES**/

@media screen and (max-width: 980px) {
  body {
	background-size: 100% auto;
  }
}

@media screen and (max-width: 640px) {
  	body {
	  	background-position: 50% 10px;

		h1 {
		  	border-bottom: 0px;
		}
	}
	.mainmenu {
	  	display:none;
	}
  	.left-off-canvas-menu {
		ul {
		  margin-left: 0px;
		  li {

			display:block;
			border-bottom: 1px solid #484848;
			line-height: 60px;
			list-style-type: none;
			a {
			  padding-left: 10px;
			  color: #fff;
			  display:block;
			  text-transform: uppercase;
			}

		  }
		}
	}
	.logo {
	  height: 100px !important;
	}
}

